<ModConfiguration>
  <Id>ReikaKalseki.IconFixer</Id>
  <Name>IconFixer</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
	Adds or improves icons for many of the base game items, solving missing icons or visual inconsistency.
  </Description>
</ModConfiguration>